* {
  box-sizing: border-box;
}

body {
  font: 20px/1.3 'Helvetica Neue', Helvetica, sans-serif;
}

main, footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

main {
  min-height: calc(100vh - 4em);
  flex-direction: column;
}

footer {
  flex-direction: row;
  column-gap: 2ex;
  font-size: 14px;
  padding: 2ex 0;
  border-top: 1px solid #eaeaea;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  font: inherit;
  max-width: 75vw;
}

#result {
  height: 3em;
}

.shortened {
  text-align: center;
}

.shortened input {
  border: 1px dotted #5d8;
  width: 32ex;
  text-align: center;
  font-weight: bold;
  color: #5d8;
  position: relative;
  top: -3px;
}

.shortened input:focus {
  outline: none;
}

.shortened img {
  cursor: pointer;
}
